html {
  font-size: 14px;
}

body{
  min-width: 300px;
  min-height: 400px;
  background-color: #411e2f;
  color: white;
}

#header{
  text-align: center;
  padding: 1rem;
}
#header > a >img{
  height: 150px;
  width: auto;
}

#main{
  padding: 1rem;
}

.eachSavedAccount{
  margin: 5px;
  font-weight: 900;
  cursor: pointer;
}

.eachSavedAccount:hover{
  text-decoration: underline;
}

.rounded{
  border-radius: 25px;
  cursor: pointer;
  margin-right: 5px;
  height: 55px;
  width: 55px;
}

.button{
  height: 35px;
  width: 175px;
  background-color: #21ffff;
  border: 3px solid #21ffff;
  border-radius: 4px;
  outline: none;
  color: #411e2f;
  cursor: pointer;
  /* Closes #74: Change the font size from 14 to 17 */
  font-size: 17px;
  /* Closes #74: Added font-family Oswald to button */
  font-family: 'Oswald', sans-serif;
}
.button:hover {
  border-color: #fff;
  background-color: #fff;
}

#newAccount{
  min-height: 140px;
}

#avatar{
  height: 45px;
  padding: 5px;
  width: 45px;
}

#githubHandle{
  height: 30px;
  width: 160px;
  padding: 5px;
  /* Closes #74: Change the font size from 16 to 22 */
  font-size: 22px;
  text-align: center;
  color: white;
  border: 0;
  border-bottom: 1px solid white;
  background: #411e2f;
  margin-bottom: 10px;
  outline: none;
  transition : border 500ms ease-out;
  /* Closes #74: Added font-family Oswald to githubHandle */
  font-family: 'Oswald', sans-serif;
}

#githubHandle::placeholder,
#githubHandle::-webkit-placeholder {
  color: #ececec;
}

#result{
  margin: 1rem 0;
  /* Closes #74: Added font-family Oswald to githubHandle */
  font-family: 'Oswald', sans-serif;
}

#resultHandle{
  margin-bottom: 10px;
  font-size: 16px;
  /* Closes #74: Added font-family Oswald to resultHandle */
  font-family: 'Oswald', sans-serif;
}

#prCompleteCount{
  position: absolute;
  text-align: center;
  left: 45%;
  font-size: 1rem;
  font-weight: 700;
}

#message{
  font-size: 18px;
  text-align: center;
}

#prList h2 {
  color: #fff;
}

#prList ul {
  padding-left: 0;
}

#prList li {
  list-style: none;
}

#prList li a {
  color: #21ffff;
  text-decoration: none;
  font-size: .9rem;
}

#prList li a:hover {
  color: #fff;
}

#overlay{
    background-color: rgba(0, 0, 0, 0.5);
    position: absolute;
    top:0;
    left:0;
    right:0;
    bottom:0;
    visibility: collapse;
}

#dialog{
    border: 0px;
    text-align: center;
    background-color: #411e2f;
    margin: 0 auto;
    width: 80%;
}

#show{
  visibility: collapse;
}

.progress-bar {
  width: 100%;
  background-color: #755866;
  border-radius: 5px;
  margin: .5rem 0;
}

.progress-bar--color {
  background-color: #21ffff;
  height: 1.5rem;
  border-radius: 5px;
  animation: expandWidth 2s linear;
}

@keyframes expandWidth {
   0% { width: 0; }
}
