body{
  min-width: 300px;
  min-height: 400px;
  background-color: #29328f;
  color: white;
  background-image: url('flourish-top.svg');
  background-repeat: no-repeat;
  background-position: 0 0;
  background-size: 50%;
}

#header{
  width: 100%;
  font-size: 25px;
  text-align: center;
  height: 20%;
  margin-top: 65px;
}
#header > a >img{
  width: 300px;
}

#main{
  margin-top: 10px;
}

.eachSavedAccount{
  margin: 5px;
  font-weight: 900;
  cursor: pointer;
}

.eachSavedAccount:hover{
  text-decoration: underline;
}

.rounded{
  border-radius: 15px;
  cursor: pointer;
  margin-right: 5px;
  height: 30px;
  width: 30px;
}

.button{
  height: 40px;
  width: 175px;
  background-color: #fe615f;
  border: 0px;
  border-radius: 3px;
  outline: none;
  color: white;
  cursor: pointer;
  font-size: 14px;
}

#check {
  box-shadow: 0 2px 30px rgba(9,11,29,0.3);
  transition: background-color 0.25s ease-in-out;
}
#check:hover {
  background-color: #ff4946;
  color: #fff;
}

#newAccount{
  min-height: 140px;
}

#avatar{
  height: 45px;
  padding: 5px;
  width: 45px;
}

#githubHandle{
  height: 30px;
  width: 160px;
  padding: 5px;
  font-size: 16px;
  text-align: center;
  color: white;
  border: 0;
  border-bottom: 1px solid white;
  background: #29328f;
  margin-bottom: 10px;
  outline: none;
  transition : border 500ms ease-out;
}

#githubHandle::placeholder,
#githubHandle::-webkit-placeholder {
  color: #ececec;
}

#result{
  margin-top: 10px;
}

#resultHandle{
  text-decoration: underline;
  margin-bottom: 10px;
  font-size: 16px;
}

#prCompleteCount{
  font-size: 20px;
  font-weight: 700;
  margin-bottom: 10px;
}

#message{
  font-size: 18px;
  text-align: center;
}

#prList ul{
  padding-left: 0;
}

#prList li {
  list-style: none;
}

#prList li a{
  color: #29328f;
}

#overlay{
    background-color: rgba(0, 0, 0, 0.5);
    position: absolute;
    top:0;
    left:0;
    right:0;
    bottom:0;
    visibility: collapse;
}

#dialog{
    border: 0px;
    text-align: center;
}

#show{
  visibility: collapse;
}
